
                    /* Contact Page  */

#contact {
        left: 15%;
        max-width: 60%;
        height: auto;
        width:100%;
        margin:0 auto;
        padding: 5em;
        padding-top: 10em;
        padding-bottom: 10em;
        position:relative;
}

#contact {
        padding:25px;
        margin:50px 0;
}
    
fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border-radius: 10px;
    background: #f5f6fb;
    margin:0 0 5px;
    border: 0;
    padding:20px;
}

#contact textarea {
    height:100px;
    max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
    font-family: sans-serif;
    position: relative;
    top: 1em;
    right: 22em;
    line-height: 20px;
    width: 140px;
    font-size: 15px;
    padding: 10px;
    border: none;
    background: red;
    color: white;
}

#contact button[type="submit"]:hover {
    background:dodgerblue;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { 
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
 }

#contact input:focus, #contact textarea:focus {
    border:1px solid #334455;
    border-radius: 5px;
    background: white;
    outline: none;
}

                    